@model DemoMVC.Models.Person

<form method='post'>
  <div class="container border p-4">
    <h2 class='mb-4'>Create Person</h2>
    <input hidden asp-for="PersonId">
    <div class="form-group">
      <label asp-for="FullName">Full Name</label>
      <input asp-for="FullName" disabled class='form-control fs-4'>
    </div>
    <div class="form-group">
      <label asp-for="Address">Address</label>
      <input asp-for='Address' disabled class='form-control fs-4'>
    </div>
    <div class="form-group">
      <label asp-for="Weight">Weight</label>
      <input asp-for='Weight' disabled class='form-control fs-4'>
    </div>
    <div class="form-group">
      <label asp-for="Height">Height</label>
      <input asp-for='Height' disabled class='form-control fs-4'>
    </div>
    <div class="row mt-3">
      <button type="submit" class="btn btn-primary mt-2">Delete</button>
      <a asp-action="Index">Back to list</a>
    </div>
  </div>
</form>