<h1>@ViewBag.Message</h1>
<form asp-action="Index">
  <label>Person Id</label>
  <input type="text" name='PersonId'>
  <label>Input your name</label>
  <input type="text" name='FullName'>
  <label>Address</label>
  <input type="text" name='Address'>
  <button>Submit</button>
</form>