<form asp-action="Create">
  <div class="form-group">
    <label for="Id">Student Id</label>
    <input type="text" name="Id" id="Id">
  </div>
  <div class="form-group">
    <label for="Name">Student Name</label>
    <input type="text" name="Name" id="Name">
  </div>
  <button>Create</button>
</form>
<h1>@ViewBag.Message</h1>