@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <div class='card'>
    <div class="card-body">
        <h2 class='display-5'>Your information to contact</h2>
        <form>
          <div class="mb-3">
            <label for="InputEmail1" class="form-label">Your Email</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="InputNumber" class="form-label">Your Phone Number</label>
            <input type="text" class="form-control" id="InputNumber" aria-describedby="phoneNumber">
            <div id="phoneNumber" class="form-text">We'll never share your phone number with anyone else.</div>
          </div>
          <div class="mb-3">
            <p class='badge text-bg-primary'>We'll contact your within 24h, Thanks for submitting!😊</p>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember your email</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>
