@{
    ViewData["Title"] = "Privacy Policy";
}
<div class='card'>
    <div class="card-body">
        <h1 class='h1'>Privacy</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rem, molestias ipsa doloribus iusto perspiciatis eum aspernatur adipisci, minus omnis, ut numquam officiis vitae cumque ex neque nisi! Facilis, fugit eligendi! Numquam atque facere exercitationem ipsum vitae maiores necessitatibus libero cupiditate tempore officiis quas magni eaque doloribus, vero delectus rerum suscipit tenetur blanditiis quo obcaecati molestiae quis! Dolorem officia sequi nesciunt eum aperiam delectus? Explicabo quia hic dolores dolorem excepturi tenetur quam ad, magni neque ut consectetur facilis obcaecati laboriosam ratione, dolorum molestias maxime corporis nam praesentium commodi nulla ullam natus? Provident maiores harum, consectetur libero iusto dolorum laborum minus.</p>
    </div>
</div>
